@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*STYLE*/
h1 {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  margin: 20px 0 auto;
}

h2 {
  font-family: "Shrikhand", cursive;
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

h4, p {
  margin: 0;
}

/*  EN-TÊTE  */
header {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

header .icon {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #000;
}

/*  FOOTER  */
footer {
  position: relative;
  padding: 30px;
  color: #ffffff;
  background-color: #2c2c2c;
}

footer .footer-link {
  padding-left: 0;
  list-style-type: none;
  line-height: 25px;
  cursor: default;
}

footer .footer-link .item .icon {
  margin-right: 20px;
}

footer .footer-link .item a {
  color: #ffffff;
  text-decoration: none;
}

.logo {
  width: 100px;
  filter: invert(100%);
}

/*  PRINCIPALE  */
main {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: whitesmoke;
}

/*   ACCUEIL - Partie concept  */
.objet {
  height: 300px;
  padding-bottom: 20px;
  background-color: whitesmoke;
  text-align: center;
}

.location {
  padding: 30px 10px 30px;
  background-color: #f0f0f0;
}

.location .icon {
  padding: 5px 5px 5px 5px;
}

.objetParticulier {
  margin: 2px 2px 2px;
  padding: 30px 0px 30px;
}

.objetDetails {
  padding: 0 30px;
}

.scope {
  font-weight: lighter;
}

/* ACCUEIL - Partie process  */
.manipulation {
  padding: 10px;
  background-color: #fff;
}

.mode-de-emploi {
  display: flex;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-box-orient: vertical;
  list-style-type: none;
  padding: 0;
}

.mode-de-emploi .list {
  position: relative;
  padding: 1em 0.7em;
  padding: 20px 13px 0 13px;
  margin: 20px 10px;
  height: 50px;
  text-align: left;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px gainsboro;
  -webkit-box-shadow: 0px 5px 10px 0px gainsboro;
}

.mode-de-emploi .list:hover {
  background-color: rgba(147, 86, 220, 0.1);
  cursor: default;
}

.mode-deemploi .list:hover .icon {
  color: #9356DC;
}

.mode-de-emploi .icon {
  margin: 0 25px;
  font-size: 20px;
  color: #646464;
}

.step {
  position: absolute;
  left: -10px;
  padding-top: 2px;
  width: 23px;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  font-size: 0.9em;
  color: #fff;
  background-color: #9356DC;
}

/*   ACCUEIL - Partie restaurants  */
.restaurants {
  padding: 15px;
  background-color: whitesmoke;
}

.restaurants .photo {
  max-height: 200px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.menu {
  position: relative;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px gainsboro;
  background-color: #fff;
}

.menu a {
  color: #000;
  text-decoration: none;
}

.menu-titre {
  display: flex;
  flex-direction: column;
  margin: 10px 15px 0;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}

/*  ACCUEIL - Promotion  */
.promo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  padding: 15px;
  color: #0c6b50;
  background: #99E2D0;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
}

/*  MAIN PAGES -  Introduction */
.photopage {
  position: relative;
  width: 100%;
}

.intro {
  position: relative;
  background-color: whitesmoke;
}

.titreintro {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 40px 40px 0 0;
}

/*  MAIN PAGES - Partie menupages  */
.title-underline {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}

.menupage {
  position: relative;
  margin: 0px 15px 30px 15px;
}

/*Loader*/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  left: 0;
  top: 0;
  z-index: 10000;
  animation: loader 3s forwards;
}

/*Loader*/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  left: 0;
  top: 0;
  z-index: 10000;
  animation: loader 3s forwards;
}

/*Animation loader*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader__circle {
  border: 10px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear forwards;
  /*Placement du loader au milieu de la page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Animation du loader circle*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
/*  BOUTONS - Map et Commander  */
.btn {
  color: #ffffff;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  transition: opacity 1s;
}

.btn:hover {
  opacity: 0.5;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

/*  BOUTONS - checkbox like  */
.checkbox-like {
  position: absolute;
  right: 20px;
  bottom: 35px;
  height: 25px;
  font-size: 25px;
  cursor: pointer;
}

.checkbox-like.checkbox-like--position {
  position: initial;
  margin-top: 20px;
}

.checkbox-like input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

.checkbox-like input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
}

.checkbox-like input[type=checkbox], .checkbox-like .checked {
  display: none;
  animation: like 2s;
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
}
/*  BOUTONS - Choix de plats  */
.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  margin: 20px 0 0 10px;
}

.title-sup {
  font-weight: normal;
}

.prix {
  padding: 38px 15px 0 15px;
  font-weight: bold;
}

.btn-dish {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px gainsboro;
  margin-top: 20px;
  height: 70px;
}

.box {
  overflow: hidden;
  text-align: center;
  background: #99E2D0;
  width: 0;
  align-items: center;
  transition: width 1s;
  padding-top: 25px;
}

.check {
  display: inline-block;
  margin: auto;
  color: #fff;
  font-size: 25px;
  transform: rotate(360deg);
  transition: transform 500ms;
}

.btn-dish:hover .box {
  width: 70px;
}

.btn-dish:hover .box > .check {
  transform: rotate(0deg);
}

/*  ANIMATIONS - Boutons de choix  */
.up {
  animation: fadein 1s;
}

.up--1 {
  animation-delay: 50ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--2 {
  animation-delay: 150ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--3 {
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--4 {
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadein {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .mode-de-emploi {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
  }

  .mode-de-emploi__list {
    width: 49%;
  }
}
@media (min-width: 980px) and (max-width: 1920px) {
  .fonctionnement div {
    margin-left: 20%;
    margin-right: 20%;
  }

  .fonctionnement header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .fonctionnement_cards {
    padding-top: 0.5rem;
  }

  .restaurants {
    display: flex;
    height: 300px;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .restaurants .menu {
    display: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 22%;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #c4c3c0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .restaurants .photo {
    display: block;
    max-height: 275px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
