.objet {
  height: 300px;  
  padding-bottom: 20px;
  background-color: whitesmoke;
  text-align: center;
}



.objetParticulier {
  margin: 2px 2px 2px;
  padding: 30px 0px 30px;
}

.objetDetails {
  padding: 0 30px;
}

.objetDetails .scope {
  font-weight: lighter;
}